.pfp{
    width: 50px;
    height: 50px;
    margin: -14px 0px 0px 13px;
}
.reg{
    background-color: #2C2E34;
    width: 96%;
    margin:1% 0 0 2.5% ;
    height: 74px;
    border-radius: 16px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.account{
    border: none;
    width: 3%;
    height: 40px;
    border-radius: 20px;
    background: #7F5AF0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    color: white;
    margin: 1% 0 0 2%;
    cursor: pointer;    
}
.imgs{
    display: flex;
    justify-content: right;
    margin: -25px 4% 0% 18px;
    height: 20px;
}
.notifs{
    padding-left: 2%;
}
.name{
    color: white;
    font-weight: 700;
    padding: 1px 5px 0px 14px;
}
.SelectTranslation{
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: ease-in-out .4s;
}

@media (max-width: 1024px) {
    .account{
        border: none;
        width: 4%;
        height: 40px;
        border-radius: 20px;
        background: #7F5AF0;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        color: white;
        margin: 16px 0 0 2%;
        cursor: pointer;    
    }
    .imgs{
        display: flex;
        justify-content: right;
        margin: -29px 4% 0% 18px;
        height: 20px;
    }
}