*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mainBlock{
    background-color: #000;
    width: 100%;
    height: 90vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 286px 1054px;
    grid-template-rows: 450.5px 160px;
    gap: 21px;
    grid-template-areas: 
        'aside main'
        'aside cards'
    ;
    .Aside{
        grid-area: aside;
    }
    .Cards{
        height: 230px;
        display: flex;
        align-items: flex-start;
        gap: 20px;
        grid-area: cards;
    }
    .main{
        grid-area: main;
        width: 1054px;
        height: 381px;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        img{
            position: absolute;
        }
        form{
            position: relative;
            width: 357px;
            height: 308px;
            background: rgba(44, 46, 52, 0.7);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            border-radius: 16px;
            text-align: center;
            margin: 0 4%;
            .authWindow{
                width: 85%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 22px;
                margin: 0 auto;
                button{
                    width: 170px;
                    background: #7F5AF0;
                    border-radius: 7px;
                    border: none;
                    color: #FFFFFF;
                    padding: 15px 62px;
                    cursor: pointer;
                }
                p{
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 35px;
                    color: #FFFFFF;
                }
                input{
                    background: #222429;
                    border: none;
                    border: 1px solid #989898;
                    border-radius: 7px;
                    padding: 13px 20px;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: #989898;
                }
            }
        }
    }
}